@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"),
      url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"),
      url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}



html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
body{
  background-color: #fff;
}

img{
  max-width: 100%;

}

/* HEADER */
.site-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header{
  align-items: center;
  padding-top: 48px;
  padding-bottom: 48px;
  }
.logo-items{
  display: flex;
  align-items: center;
}
.header-list{
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: 45px;

}
.header-logo{
  display: block;
}

.header-items{
  margin-right: 30px;
}
.login-signup{
  display: flex;
  align-items: center;
  list-style: none;
  white-space: nowrap;
}

.header-list a{
text-decoration: none;
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 22px;
color: #9E9AA8;
transition: all 0.4s ease;
}
.header-list a:hover{
  color: #34313D;
}




.login-signup a{
  text-decoration: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: #FFFFFF;
  display: inline-block;
  }


  .header-signup a{
    background: #2BD0D0;
  border-radius: 28px;
  color: #FFFFFF;
  padding: 9px 23px;
  transition: all 0.4s ease;
  }

  .header-signup a:hover{
    background: #9AE3E3;
  }

  .header-login a{
  color: #9E9AA8;
  margin-right: 37px;
  transition: all 0.4s ease;
  }

  .header-login a:hover{
    color: #34313D;
  }

/* HERO */

.hero-all-text-link{
  width: 565px;
  margin-bottom: 200px;
}
.hero-head{
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 80px;
line-height: 90px;
letter-spacing: -2px;
color: #34313D;
margin: 0;
margin-bottom: 5px;
}
.hero-texts{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: #9E9AA8;
  margin: 0;
  margin-bottom: 40px;

}

.hero-link{
 text-decoration: none;
 background: #2BD0D0;
  border-radius: 28px;
  color: #FFFFFF;
  padding: 14px 40px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
transition: all 0.4s ease;

}

.hero-link:hover{
  background: #9AE3E3;
}
.site-hero{
  background-image: url(../img/working_with_computer.png);
  background-position: calc(50% + 500px) 40px;
  background-repeat: no-repeat;
  padding-top: 90px;
  padding-bottom: 0px;
}

/* SHORTEN-LINK */

.hero-shorten{
background-image: url("../img/shorten-bg.jpg");
width: 1110px;
height: 168px;
background-repeat: no-repeat;
}

/* ADVANCED */

.advanced-all{
  background: #F2F2F2;

  padding: 204px 165px 120px 165px;
}

.advanced-head-texts{
  width: 540px;
 margin: 0 auto;

}
.advanced-head{
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -1px;
  color: #34313D;
  margin: 0;
  margin-bottom: 18px;
}
.advanced-text{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.122727px;
  color: #9E9AA8;
  margin: 0;
}


/* ADVANCED LIST */

.advanced-list{
  display: flex;
  margin-top: 100px;
  align-items: flex-start;
}

.advanced-item{
  width: 350px;
  background-color: #fff;
  border-radius: 5px;
  margin-right: 30px;
  padding: 33px 32px 41px 32px;
}

.advanced-item h3{
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
   color: #34313D;
}

.advanced-item p{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
   color: #9E9AA8;
}

.fully{
  margin-right: 0px;
}

.brand::before{
  content: "";
  background-image: url("../img/advanced-icon-1.svg");
  width: 88px;
  height: 88px;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
}

.detailed::before{
  content: "";
  background-image: url("../img/advanced-icon-2.svg");
  width: 88px;
  height: 88px;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
}
.fully::before{
  content: "";
  background-image: url("../img/advanced-icon-3.svg");
  width: 88px;
  height: 88px;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
}

.detailed{
margin-top: 44px;;
}
.fully{
  margin-top: 88px;
}